@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-[#141923] border border-white/40 rounded-2xl p-5;
}
.input {
  @apply w-full bg-transparent border border-white/40 rounded-xl px-3 py-2
         focus:outline-none focus:border-white/60 text-white;
}
input[type="time"] {
  @apply text-white
}